* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:
}

.header {
    height: 50px;
    width: 100%;
    background-color: darkblue;
    border-bottom: 5px solid silver;
}

.menu-list {
    height: inherit;
    width: 100%;
    text-align: right;
    padding: 15px 15px 0 0;
}

.menu-item {
    list-style-type: none;
    display: inline;
    color: white;
    padding: 0 10px;
}

#profile-pic {
    width: 200px;
    height: 200px;
}