* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: darkblue;
    background-color: white;
}

h2, img {
    margin: 10px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    height: 50px;
    width: 100%;
    background-color: darkblue;
    border-bottom: 5px solid silver;
}

#header-summary {
    margin-bottom: 20px;
}

.menu-list {
    height: inherit;
    width: 100%;
    text-align: right;
    padding: 15px 15px 0 0;
}

.menu-item {
    list-style-type: none;
    display: inline;
    color: white;
    padding: 0 10px;
}

#profile-pic {
    width: 200px;
    height: 200px;
}

.above-content {
    height: fit-content;
    width: 100%;
    text-align: center;
}

.below-content {
    height: fit-content;
    width: 100%;
    background-color: rgb(42, 42, 253);
    text-align: center;
    padding: 20px 0;
    border-top: 2px solid darkblue;
}

.contact-form {
    border: 1px solid silver;
    height: fit-content;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
}

footer {
    height: 50px;
    width: 100%;
    background-color: darkblue;
    text-align: center;
    color: white;
    padding-top: 10px;
}